#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
[mysqld]
table-open-cache                     = 4096

## Cache
table-definition-cache               = 4096
thread-cache-size                    = 256
query-cache-size                     = 127M
query-cache-type                     = 1

## Per-thread Buffers
sort-buffer-size                     = 16M

## Temp Tables
max-heap-table-size                  = 64M
tmp-table-size                       = 64M

## Networking
interactive-timeout                  = 3600
max-connections                      = 400
max-connect-errors                   = 1000000
max-allowed-packet                   = 512M
#skip-name-resolve
skip-secure-auth
wait-timeout                         = 28800
## MyISAM
key-buffer-size                      = 256M
#myisam-recover                      = FORCE,BACKUP
myisam-sort-buffer-size              = 128M

## InnoDB
innodb_buffer_pool_size	= 600M
innodb_log_buffer_size	= 16M
innodb_max_undo_log_size = 20M
innodb_file_per_table	= 1
innodb_buffer_pool_instances = 4
innodb_open_files	= 4096
innodb_io_capacity	= 5000
innodb_io_capacity_max = 15000
innodb_flush_method	= O_DIRECT
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 2
innodb_log_files_in_group = 3
innodb_sort_buffer_size = 12M
innodb_compression_algorithm = zlib
#innodb_compression_algorithm = snappy
innodb_ft_cache_size = 12000000
innodb_sync_array_size = 2
innodb_thread_sleep_delay = 7500